@import './base.css';

body {
  background: white;
  color: black;
}

img {
  width: 100%;
}

p {
  color: black;
  font: Arial;
  line-height: 24px;
  font-size: 15px;
  font-weight: normal;
  text-align: justify;
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

li {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0;
  padding: 0;
}